---
- name: Install build tools and common dev dependencies
  ansible.builtin.apt:
    name:
      - build-essential
      - pkg-config
      - cmake
      - make
      - gcc
      - g++
      - python3
      - python3-pip
      - python3-venv
    state: present
